##DAO代码生成模版
##使用到的变量有：
package $!{gb.packageName}.api;

import com.mgzf.base.dao.api.BaseMogoDAO;
import $!{gb.packageName}.entity.$!{tbb.className}Entity;

public interface ${tbb.className}DAO extends BaseMogoDAO<$!{tbb.className}Entity>     {

    //除了在BaseDAO中的基本的方法（CRUD），其它方法需要自己定义及实现
	
}

