##DAO代码生成模版
##使用到的变量有：
package $!{gb.packageName}.impl.mapper;

import $!{gb.packageName}.$!{tbb.className}Entity;
import com.mgzf.base.dao.mapper.BaseMogoMapper;

public interface ${tbb.className}Mapper extends BaseMogoMapper<$!{tbb.className}Entity>    {

	//除了在BaseMapper中的基本的方法（CRUD），其它方法需要自己定义及实现

}

